
.navbar {
	padding: 0rem;
	background-color: $color-black;
}
.navbar-brand {
	font-family: $ff-orbitron;
	font-weight: 900;
}
.header__nav .container a{
	color: $color-cyan;
}
.nav-item {
	padding: 0px 12px;
}
.navbar-dark .navbar-nav .nav-link {
    color: $color-cyan;
    font-family: $ff-electrolize:
    font-size: 1.1rem;
    font-weight: 500;
}
.navbar-dark .navbar-nav .nav-link:hover {
	color: $color-white;
}
.navbar-dark .navbar-toggler {
    border-color: $color-bluecyan;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,255,249, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.header__brand-logo {
	
	font-weight: 400;
	font-size: 2rem;
}
@media (max-width: 768px) and (min-width: 200px) {
	.container {
    	width: 90%;
	}
}

/*********************************************/

.gradient {
	background: -webkit-linear-gradient(#000000 , #003337 );
	height: 100vh;
	position: relative;
}
.bg-img {
	background-image: url(../images/png01.png);
	height: inherit;
    position: relative;
    background-size: cover;
    background-position: center center;
}
.header-table {
	padding-top: 100px; 
	width: 100%;
	height: 100%;
}
.header-table-center {
    vertical-align: middle;
}
.section {
    padding-top: 100px;
}


.main-text h4{
	color: $color-cyan;
	font-family: $ff-orbitron;
	text-shadow: 1px 1px 8px #00FFFF;
}
.main-text h1{
	font-family: $ff-orbitron;
	letter-spacing: 5px;
	color: $color-cyan;
	font-size: 84px;
	font-weight: 800;
	margin: 0px;
	margin-bottom: 50px;
	text-shadow: 1px 1px 8px #00FFFF;
}
.main-text h3{
	font-family: $ff-orbitron;
	color: $color-cyan;
	max-width: 400px;
	font-size: 25px;
	margin: 0px;
	letter-spacing: 3px;
	text-shadow: 1px 1px 8px #00FFFF;
}


.profile {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.profile img {
	filter: hue-rotate(340deg);
}