@media (max-width: 768px) and (min-width: 200px) {
  .container {
    width: 90%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.gradient__text h1 {
  font-family: "Orbitron", sans-serif;
  letter-spacing: .5rem;
  color: cyan;
  font-size: 8.4rem;
  font-weight: 800;
  margin: 0rem;
  margin-bottom: 5rem;
  text-shadow: 0.1rem 0.1rem 0.8rem cyan; }

.gradient__text h3 {
  font-family: "Orbitron", sans-serif;
  color: cyan;
  max-width: 40rem;
  font-size: 2.5rem;
  margin: 0rem;
  letter-spacing: .3rem;
  text-shadow: 0.1rem 0.1rem 0.8rem cyan; }

.gradient__text h4 {
  color: cyan;
  font-family: "Orbitron", sans-serif;
  text-shadow: 0.1rem 0.1rem 0.8rem cyan; }

.header .navbar {
  padding: 0rem;
  background-color: black; }
  .header .navbar-brand {
    font-family: "Orbitron", sans-serif;
    font-weight: 900; }
  .header .navbar__brand-logo {
    color: cyan;
    font-weight: 400;
    font-size: 3.2rem; }
  .header .navbar .collapse .navbar-nav .nav-item {
    padding: 0px 1.2rem; }
  .header .navbar .collapse .navbar-nav .nav-link {
    color: cyan;
    font-family: "Electrolize", sans-serif;
    font-size: 1.75rem;
    font-weight: 500; }
    .header .navbar .collapse .navbar-nav .nav-link:hover {
      color: white; }

.header .navbar-dark .navbar-toggler {
  border-color: #00bee1; }
  .header .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,255,249, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.gradient {
  background: -webkit-linear-gradient(#000000, #003337);
  height: 100vh;
  position: relative; }
  .gradient__section {
    padding-top: 10rem; }
  .gradient .bg-img {
    background-image: url(../images/png01.png);
    height: inherit;
    position: relative;
    background-size: cover;
    background-position: center center; }
  .gradient__table {
    padding-top: 10rem;
    width: 100%;
    height: 100%; }
    .gradient__table--center {
      vertical-align: middle; }
  .gradient .profile {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }
    .gradient .profile img {
      filter: hue-rotate(340deg); }
