*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.header-navbar--sticky {
  height: 7rem; }
  .header-navbar--sticky .header-navbar__nav-brand {
    color: black; }
  .header-navbar--sticky .header-navbar__nav-link {
    color: black; }
    .header-navbar--sticky .header-navbar__nav-link:hover {
      color: #000898;
      transform: translateY(-0.2rem); }

.header-navbar__nav-brand {
  color: white;
  font-family: "Orbitron", sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  text-decoration: none; }

.header-navbar__nav-link {
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none; }
  .header-navbar__nav-link:hover {
    color: cyan;
    transform: translateY(-0.2rem); }

.header-main__content h1 {
  color: cyan;
  font-family: "Orbitron", sans-serif;
  font-size: 8.4rem;
  font-weight: 800;
  letter-spacing: .5rem;
  text-shadow: 0.1rem 0.1rem 0.8rem cyan; }

.header-main__content h4 {
  color: cyan;
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  text-shadow: 0.1rem 0.1rem 0.8rem cyan; }

.container {
  max-width: 120rem;
  margin: 0 auto;
  height: 100%; }

.section {
  height: 100vh;
  padding: 8rem 0; }

.header {
  position: relative; }

.header-navbar {
  height: 8.5rem;
  background-color: transparent;
  width: 100vw;
  padding: 0 2rem;
  position: fixed;
  z-index: 100;
  top: 0;
  transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out; }
  .header-navbar--sticky {
    height: 7rem;
    background-color: #00ffde; }
  .header-navbar__nav {
    display: flex;
    justify-content: space-between;
    height: 100%; }
    .header-navbar__nav-brand {
      display: flex;
      align-items: center; }
    .header-navbar__nav-list {
      display: flex; }
    .header-navbar__nav-item {
      display: flex;
      align-items: center;
      list-style-type: none;
      padding: 0px 1.2rem; }
    .header-navbar__nav-link {
      transition: all .2s ease-out; }

.header-main {
  background-image: url("../images/png01.png"), -webkit-radial-gradient(42% 33%, #000000, #003337);
  background-size: cover;
  background-position: center center; }
  .header-main__content {
    display: flex;
    height: 50%;
    width: 50%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
  .header-main__profile img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }

.main {
  height: 200vh; }
