	
// font-family:
$ff-roboto: 			'Roboto', sans-serif;
$ff-quantico: 			'Quantico', sans-serif;
$ff-orbitron: 			'Orbitron', sans-serif;
$ff-robotoMono: 		'Roboto Mono', monospace;
$ff-sourceCodePro: 		'Source Code Pro', monospace;
$ff-anonymousPro: 		'Anonymous Pro', monospace;


// color:
$color-black: 			black;
$color-white: 			white;
$color-cyan: 			cyan;
$color-lightcyan: 		rgb(0, 190, 225);

