	
// font-family:
$roboto: 			'Roboto', sans-serif;
$quantico: 			'Quantico', sans-serif;
$orbitron: 			'Orbitron', sans-serif;
$robotoMono: 		'Roboto Mono', monospace;
$sourceCodePro: 	'Source Code Pro', monospace;
$anonymousPro: 		'Anonymous Pro', monospace;


// color:
$black: 		black;
$white: 		white;
$cyan: 			cyan;
$lightcyan: 	rgb(0, 190, 225);

