
// font-family:
$ff-robotoMono: 		'Roboto Mono', monospace;
$ff-sourceCodePro: 		'Source Code Pro', monospace;
$ff-dmMono: 			'DM Mono', monospace;
$ff-firaMono: 			'Fira Mono', monospace;
$ff-nanumGothic: 		'Nanum Gothic', sans-serif;
$ff-quantico: 			'Quantico', sans-serif;
$ff-rationale: 			'Rationale', sans-serif;
$ff-thasadith: 			'Thasadith', sans-serif;
$ff-firaCode: 			'Fira Code', monospace;
$ff-robotoCondenced:	'Roboto Condensed', sans-serif;
$ff-anonymousPro: 		'Anonymous Pro', monospace;
$ff-quickSand: 			'Quicksand', sans-serif;
$ff-play: 				'Play', sans-serif;
$ff-gio: 				'Geo', sans-serif;
$ff-mavenPro: 			'Maven Pro', sans-serif;
$ff-electrolize: 		'Electrolize', sans-serif;
$ff-orbitron: 			'Orbitron', sans-serif;


// color:
$color-black: 			black;
$color-white: 			white;
$color-cyan: 			cyan;
$color-bluecyan: 		rgb(0, 190, 225);

