
.header {
	@include pos-relative;
}

.header-navbar {
	background-color: transparent;
	@include box( 8rem , 100vw , 0 2rem , 0);
	@include pos-fixed( 0 , auto , auto , auto );
	z-index: 100;
	transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out;

	&__nav {
		display: flex;
		justify-content: space-between;
		@include box( 100% , auto , 0 , 0 );

		&-brand {
			@include typo( white , $ff-orbitron , 900 , 3.5rem );
			text-decoration: none;
			display: flex;
			align-items: center;
		}

		&-list {
			display: flex;
		}

		&-item {
			display: flex;
			align-items: center;
			list-style-type: none;
			padding: 0px 1.2rem;
		}

		&-link {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			height: 4.5rem;
			text-decoration: none;
			transition: height 0.5s ease-in-out;

			&--content {
				@include typo( white , $ff-robotoMono , 400 , 1.8rem );
				transition: all .3s ease-out;

				&:hover {
					transform: translateY(-0.2rem);
				}
			}

			&--bottom {
				background-color: cyan;
				height: 3px;
				margin-top: .5rem;
				transform: scaleX(0);
				transition: transform .3s ease-in-out, margin-top .5s ease-in-out, background-color .5s ease-in-out;
			}

			&:hover &--content {
				color: cyan;
			}
			&:hover &--bottom {
				transform: scaleX(1);
			}
		}
	}

	&--sticky {
		background-color: #00ffde;
		height: 7rem;

		.header-navbar__nav {
			
			&-brand {
				color: black;
			}
			
			&-link {
				height: 3.2rem;
				transition: height 0.5s ease-in-out;

				&--content {
					color: black;
					transition: all .3s ease-out;
				}

				&--bottom {
					margin-top: 0rem;
					transition: transform .3s ease-in-out, margin-top .5s ease-in-out, background-color .5s ease-in-out;
				}

				&:hover .header-navbar__nav-link--content {
					color: #000898;
				}

				&:hover .header-navbar__nav-link--bottom {
					background-color: #000898;
					transform: scaleX(1);
				}
			}
		}
	}
}