
.navbar {
	padding: 0rem;
	background-color: $color-black;

	&-brand {
		font-family: $ff-orbitron;
		font-weight: 900;
	}

}

.navbar-dark {

	.navbar {

		&-brand {
		    color: #fff;
		}	
		&__brand-logo {
			color: $color-cyan;
			font-weight: 400;
			font-size: 3.2rem;
		}
		&-nav {

			.nav {
				
				&-item {
					padding: 0px 1.2rem;
				}
				&-link {
				    color: $color-cyan;
				    font-family: $ff-electrolize;
				    font-size: 1.75rem;
				    font-weight: 500;

				    &:hover {
				    	color: $color-white;
				    }

				}

			}

		}
		&-toggler {
		    border-color: $color-bluecyan;

		    &-icon {
			    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,255,249, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
			}

		}

	}

}

.gradient {
	background: -webkit-linear-gradient(#000000 , #003337 );
	height: 100vh;
	position: relative;

	&__section {
	    padding-top: 10rem;
	}

	.bg-img {
		background-image: url(../images/png01.png);
		height: inherit;
	    position: relative;
	    background-size: cover;
	    background-position: center center;
	}

	&__table {
		padding-top: 10rem; 
		width: 100%;
		height: 100%;

		&--center {
		    vertical-align: middle;
		}

	}

	.profile {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);

		img {
			filter: hue-rotate(340deg);
		}

	}

}



