
.header {

	.navbar {
		padding: 0rem;
		background-color: $color-black;

		&-brand {
			font-family: $ff-orbitron;
			font-weight: 900;
		}
		&__brand-logo {
			color: $color-cyan;
			font-weight: 400;
			font-size: 3.2rem;
		}

		.collapse .navbar-nav{

			.nav-item {
				padding: 0px 1.2rem;
			}
			.nav-link {
			    color: $color-cyan;
			    font-family: $ff-electrolize;
			    font-size: 1.75rem;
			    font-weight: 500;

			    &:hover {
			    	color: $color-white;
			    }

			}

		}

	}

	.navbar-dark {

		.navbar-toggler {
		    border-color: $color-bluecyan;

		    &-icon {
			    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,255,249, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
			}

		}

	}

}