
.header {

	position: relative;
}

.header-navbar {
	height: 5rem;
	width: 100vw;
	padding: 0 2rem;
	position: fixed;
	top: 0;

	&__nav {
		display: flex;
		justify-content: space-between;
		height: 100%;

		&-brand {
			display: flex;
			align-items: center;
		}

		&-list {
			display: flex;
		}

		&-item {
			display: flex;
			align-items: center;
			list-style-type: none;
			padding: 0px 1.2rem;
		}

		&-link {

		}
	}
}

.header-main {
	background-image: url('../images/png01.png'), -webkit-linear-gradient(#000000 , #003337);
	background-size: cover;
	background-position: center center;

	&__content {
		display: flex;
		height: 50%;
		width: 50%;
		margin: 0 auto;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}  

	&__profile img {
		position: absolute;
	    bottom: 0;
	    left: 50%;
	    transform: translateX(-50%);
	}
}

.main {
	
	height: 200vh;
}