@use '../abstracts' as *;

:root {
   //#fonts:#//
   --courier: "Courier Prime", monospace;

   //#colors:#//
   --white: White;
   --pri-dark: #101012;
   --pri-light: #98bfda;
}

body {
   @include bg($c: $pri-dark);
   @include pbm($p: 2rem);
   -webkit-tap-highlight-color: transparent;
   tap-highlight-color: transparent;
}
