@use '../abstracts' as *;

:root {
   //#fonts:#//
   --courier: "Courier Prime", monospace;

   //#colors:#//
   --white: White;
   --background: #101012;
   --primary: #73c7ef;
   --secondary: #8ca9bd;
}

body {
   @include bg($c: $background);
   @include pbm($p: 2rem);
   -webkit-tap-highlight-color: transparent;
   tap-highlight-color: transparent;
}
