
.section-home {
	@include box( $h: 100vh , $w: null );
	background: {
		image: url('../images/background.png'), -webkit-radial-gradient(42% 30%, #001d1d, #000000);
		size: cover;
		position: center center;
	}

	&__content {
		@include flex( $fd: column, $jc: center , $ai: flex-start );
		@include box( $h: 50% , $w: 50% , $m: 0 auto );

		h1 {
			@include typo( $c: $cyan , $ff: $orbitron , $fw: 800 , $fs: 8.4rem , $ls: .5rem );
			text-shadow: .1rem .1rem .8rem $cyan;
		}

		h4 {
			@include typo( $c: $cyan , $ff: $orbitron , $fw: 400 , $fs: 2rem );
			text-shadow: .1rem .1rem .8rem $cyan;
		}
	}  

	&__profile img {
		@include pos-absolute( $b: 0 , $l: 50% );
	    transform: translateX(-50%);
	}
}

.main {
	@include box( $h: 200vh , $w: null );
}