
.section-home {
	background: {
		image: url('../images/background.png'), -webkit-radial-gradient(42% 30%, #000000, #003337);
		size: cover;
		position: center center;
	}
	@include size( /*h*/ 100vh , /*w*/ null );

	&__content {
		@include flexbox( /*fd*/ column , /*jc*/ center , /*ai*/ flex-start );
		@include box( /*h*/ 50% , /*w*/ 50% , /*p*/ null , /*b*/ null , /*m*/ 0 auto );

		h1 {
			@include typo( $color-cyan , $ff-orbitron , 800 , 8.4rem );
			letter-spacing: .5rem;
			text-shadow: .1rem .1rem .8rem $color-cyan;
		}

		h4 {
			@include typo( $color-cyan , $ff-orbitron , 400 , 2rem );
			text-shadow: .1rem .1rem .8rem $color-cyan;
		}
	}  

	&__profile img {
		@include pos-absolute( /*t*/ null , /*b*/ 0 , /*l*/ 50% , /*r*/ null , /*z*/ null );
	    transform: translateX(-50%);
	}
}

.main {
	@include size( /*h*/ 200vh , /*w*/ null );
}