
.header {
	@include pos-relative;
}

.header-navbar {
	@include pos-fixed( $t: 0 , $z: 100 );
	@include box( $h: 8rem , $w: 100vw , $p: 0 2rem );
	background-color: transparent;
	transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out;

	&__nav {
		@include flex( $jc: space-between );
		@include box( $h: 100% );

		&-brand {
			@include typo( $c: white , $ff: $orbitron , $fw: 900 , $fs: 3.5rem , $td: none );
			@include flex( $ai: center );
		}

		&-list {
			@include flex();
		}

		&-item {
			@include flex( $ai: center );
			list-style-type: none;
			padding: 0 1.2rem;
		}

		&-link {
			@include flex( $fd: column, $jc: flex-end );
			@include box( $h: 4.5rem , $w: null );
			@include typo( $td: none );
			transition: height 0.5s ease-in-out;

			&--content {
				@include typo( $c: white , $ff: $robotoMono , $fw: 400 , $fs: 1.8rem );
				transition: all .3s ease-out;
			}

			&--bottom {
				@include box( $h: 3px , $mt: .4rem );
				background-color: $cyan;
				transform: scaleX(0);
				transition: transform .3s ease-in-out, margin-top .5s ease-in-out, background-color .5s ease-in-out;
			}

			&:hover &--content {
				@include typo( $c: $cyan );
				transform: translateY(-0.2rem);
			}
			&:hover &--bottom {
				transform: scaleX(1);
			}
		}
	}

	&--sticky {
		@include box( $h: 7rem , $w: null );
		background-color: #62ffff;

		.header-navbar__nav {
			
			&-brand {
				@include typo( $c: black );
			}
			
			&-link {
				@include box( $h: 3.2rem , $w: null );
				transition: height 0.5s ease-in-out;

				&--content {
					@include typo( $c: black );
					transition: all .3s ease-out;
				}

				&--bottom {
					background-color: #00575d;
					margin-top: 0rem;
					transition: transform .3s ease-in-out, margin-top .5s ease-in-out, background-color .5s ease-in-out;
				}

				&:hover .header-navbar__nav-link--content {
					@include typo( $c: black );
				}
				&:hover .header-navbar__nav-link--bottom {
					transform: scaleX(1);
				}
			}
		}
	}
}