@use '../abstracts' as *;

.preloader {
   @include size($h: 100vh, $w: 100vw);
   @include bg($c: $background);
   @include pos-fixed;
   transition: transform 1s ease-in;
}

.move-down {
   transform: translateY(40rem) !important;
}

.fade-out {
   animation: fade-out 1s;
}
@keyframes fade-out {
   from {
      opacity: 1;
   }
   to {
      opacity: 0;
   }
}
