@use '../abstracts' as *;

h1 {
   @include typo($c: $primary, $ff: $courier, $fs: 4rem, $fw: 500);

   @media screen and (max-width: 600px) {
      font-size: 6.4vw;
   }
}
h4 {
   @include size($maxw: 55rem);
   @include typo($c: $secondary, $ff: $courier, $fs: 2.4rem, $fw: 400);
   @include pbm($mt: 3rem);

   @media screen and (max-width: 600px) {
      font-size: 1.8rem;
   }
}
h5 {
   @include typo(
      $c: $secondary,
      $ff: $courier,
      $fs: 2rem,
      $fw: 400,
      $style: italic
   );
   @include pbm($mt: 3rem);

   @media screen and (max-width: 600px) {
      font-size: 1.8rem;
   }
}
.links {
   @include size($h: 5rem);
   @include pbm($mt: 2.8rem);
   @include flex($jc: flex-start, $ai: center);

   &__link {
      @include flex($jc: center, $ai: center);
      text-decoration: none;
      fill: $primary;

      &:hover,
      &:active {
         fill: #00c8ff;
      }
      &:focus {
         fill: $primary;
      }

      &:not(:last-child) {
         margin-right: 3rem;
      }

      &--svg {
         height: 2.6rem;
         width: 2.6rem;
      }

      &--resume {
         @include flex($jc: center, $ai: center);
         @include size($h: 20px);
         @include pbm($rad: 2px, $pr: 4px);
         background-color: $primary;

         &:hover,
         &:active {
            background-color: #00c8ff;
         }
         &:focus {
            background-color: $primary;
         }

         &--svg {
            height: 16px;
            fill: $background;
         }
         &--text {
            height: 2.2rem;
            margin-left: -2px;
            @include typo($c: $background, $ff: $courier, $fs: 2rem, $fw: 900);

            @media screen and (max-width: 600px) {
               @include typo($fs: 2rem, $fw: 500);
            }
         }
      }
   }
}
.bang {
   font-size: 5rem;
   font-weight: bold;
   @media screen and (max-width: 600px) {
      font-size: calc(5.4vw + 1rem);
   }
}
a[href^="https://stackoverflow"] > *
{
   height: 2.5rem;
   width: 2.5rem;
}
